@charset "utf-8";
/* CSS Document */
@font-face {
  font-family: NanumGothic;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/NanumGothic.eot);
  src: local('나눔 고딕'), url('../fonts/NanumGothic.woff;charset=utf-8;base64,...')
}

