/* iCheck plugin Minimal skin, black
----------------------------------- */
.icheckbox_minimal,
.iradio_minimal {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 18px;
    height: 18px;
    /*background: url(minimal.png) no-repeat;*/
    border: none;
    cursor: pointer;
}

.icheckbox_minimal {
    background: url(../../img/bg_check.png) no-repeat center center; 
	transition:all 0.2s linear;
	-webkit-transition:all 0.2s linear;
	-moz-transition:all 0.2s linear;
	-ms-transition:all 0.2s linear;
}
    .icheckbox_minimal.hover {
        background: url(../../img/bg_check.png) no-repeat center center;
    }
    .icheckbox_minimal.checked {
        background: url(../../img/bg_check_active.png) no-repeat center center;
    }
    .icheckbox_minimal.disabled {
        background-position: -60px 0;
        cursor: default;
    }
    .icheckbox_minimal.checked.disabled {
        background-position: -80px 0;
    }

.iradio_minimal {
    background: url(../../img/bg_radio.png) no-repeat center center; 
	transition:all 0.25s linear;
	-webkit-transition:all 0.25s linear;
	-moz-transition:all 0.25s linear;
	-ms-transition:all 0.25s linear;
	overflow: hidden;
}
    .iradio_minimal.hover {
        background: url(../../img/bg_radio.png) no-repeat center center; 
    }
    .iradio_minimal.checked {
        background: url(../../img/bg_radio_active.png) no-repeat center center; 
    }
    .iradio_minimal.disabled {
        background-position: -160px 0;
        cursor: default;
    }
    .iradio_minimal.checked.disabled {
        background-position: -180px 0;
    }

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
    .icheckbox_minimal,
    .iradio_minimal {
        background: url(../../img/bg_check.png) no-repeat center center;
        /*-webkit-background-size: 200px 20px;
        background-size: 200px 20px;*/
    }
}